player-connection-mode=Listen
player-connection-guid=3780463564
player-connection-debug=1
player-connection-project-name=BootsOnTheGround
player-connection-ip=169.233.196.71
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
build-guid=c879f8a985534e51878654f130ec5d0a
